In [2]:
import numpy as np
import pandas as pd

data = {'year':[2010, 2011, 2012, 2011,2012,2010,2011,2012],
        'team':['Bears','Bears','Bears','Packers','Packers','Lions','Lions','Lions'],
        'wins':[11,8,10,15,11,6,10,4],
        'losses':[5,8,6,1,5,10,6,12]}
football = pd.DataFrame(data)
print football

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [3]:
print football.dtypes

losses     int64
team      object
wins       int64
year       int64
dtype: object

In [4]:
print football.describe()

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

In [5]:
print football.head()
print football.tail()

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [12]:
from pandas import DataFrame, Series

#################
# Syntax Reminder:
#
# The following code would create a two-column pandas DataFrame
# named df with columns labeled 'name' and 'age':
#
# people = ['Sarah', 'Mike', 'Chrisna']
# ages  =  [28, 32, 25]
# df = DataFrame({'name' : Series(people),
#                 'age'  : Series(ages)})

def create_dataframe():
    '''
    Create a pandas dataframe called 'olympic_medal_counts_df' containing
    the data from the table of 2014 Sochi winter olympics medal counts.  

    The columns for this dataframe should be called 
    'country_name', 'gold', 'silver', and 'bronze'.  

    There is no need to  specify row indexes for this dataframe 
    (in this case, the rows will automatically be assigned numbered indexes).
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0 ]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

    
    dic = {}
    for idx in range(len(countries)):
        dic[countries[idx]] = Series([gold[idx], silver[idx], bronze[idx]])
    
    olympic_medal_counts_df = pd.DataFrame(dic)
    print dic
    return olympic_medal_counts_df
print create_dataframe()

{'Canada': 0    10
1    10
2     5
dtype: int64, 'Italy': 0    0
1    2
2    6
dtype: int64, 'Czech Republic': 0    2
1    4
2    2
dtype: int64, 'France': 0    4
1    4
2    7
dtype: int64, 'Great Britain': 0    1
1    1
2    2
dtype: int64, 'Slovakia': 0    1
1    0
2    0
dtype: int64, 'Norway': 0    11
1     5
2    10
dtype: int64, 'Korea': 0    3
1    3
2    2
dtype: int64, 'Slovenia': 0    2
1    2
2    4
dtype: int64, 'Germany': 0    8
1    6
2    5
dtype: int64, 'China': 0    3
1    4
2    2
dtype: int64, 'Kazakhstan': 0    0
1    0
2    1
dtype: int64, 'Ukraine': 0    1
1    0
2    1
dtype: int64, 'Netherlands': 0    8
1    7
2    9
dtype: int64, 'Poland': 0    4
1    1
2    1
dtype: int64, 'Finland': 0    1
1    3
2    1
dtype: int64, 'United States': 0     9
1     7
2    12
dtype: int64, 'Sweden': 0    2
1    7
2    6
dtype: int64, 'Belarus': 0    5
1    0
2    1
dtype: int64, 'Croatia': 0    0
1    1
2    0
dtype: int64, 'Switzerland': 0    6
1    3
2    2
dtype: int64, 'Russian Fed.': 0    13
1    11
2     9
dtype: int64, 'Australia': 0    0
1    2
2    1
dtype: int64, 'Austria': 0    4
1    8
2    5
dtype: int64, 'Latvia': 0    0
1    2
2    2
dtype: int64, 'Japan': 0    1
1    4
2    3
dtype: int64}
   Australia  Austria  Belarus  Canada  China  Croatia  Czech Republic  \
0          0        4        5      10      3        0               2
1          2        8        0      10      4        1               4
2          1        5        1       5      2        0               2

   Finland  France  Germany      ...        Netherlands  Norway  Poland  \
0        1       4        8      ...                  8      11       4
1        3       4        6      ...                  7       5       1
2        1       7        5      ...                  9      10       1

   Russian Fed.  Slovakia  Slovenia  Sweden  Switzerland  Ukraine  \
0            13         1         2       2            6        1
1            11         0         2       7            3        0
2             9         0         4       6            2        1

   United States
0              9
1              7
2             12

[3 rows x 26 columns]

In [13]:
people = ['Sarah', 'Mike', 'Chrisna']
ages  =  [28, 32, 25]
df = DataFrame({'name' : Series(people),
                'age'  : Series(ages)})
print df

   age     name
0   28    Sarah
1   32     Mike
2   25  Chrisna

In [16]:
import pandas as pd

'''
You can think of a DataFrame as a group of Series that share an index.
This makes it easy to select specific columns that you want from the 
DataFrame. 

Also a couple pointers:
1) Selecting a single column from the DataFrame will return a Series
2) Selecting multiple columns from the DataFrame will return a DataFrame

*This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
'''
# Change False to True to see Series indexing in action
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football['year']
    print ''
    print football.year  # shorthand for football['year']
    print ''
    print football[['year', 'wins', 'losses']]

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

   year  wins  losses
0  2010    11       5
1  2011     8       8
2  2012    10       6
3  2011    15       1
4  2012    11       5
5  2010     6      10
6  2011    10       6
7  2012     4      12

In [17]:
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print football.iloc[[0]]
    print ""
    print football.loc[[0]]
    print ""
    print football[3:5]
    print ""
    print football[football.wins > 10]
    print ""
    print football[(football.wins > 10) & (football.team == "Packers")]

   losses   team  wins  year
0       5  Bears    11  2010

   losses   team  wins  year
0       5  Bears    11  2010

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
0       5    Bears    11  2010
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

In [27]:
import numpy
def avg_medal_count():
    '''
    Using the dataframe's apply method, create a new Series called 
    avg_medal_count that indicates the average number of gold, silver,
    and bronze medals earned amongst countries who earned at 
    least one medal of any kind at the 2014 Sochi olympics.  Note that
    the countries list already only includes countries that have earned
    at least one medal. No additional filtering is necessary.
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':countries,
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}    
    df = DataFrame(olympic_medal_counts)
    
   
    df1 = df[['gold','silver','bronze']]
    avg_medal_count = df1[(df1.gold >= 1)&(df1.silver >= 1)&( df1.bronze >= 1)].apply(numpy.mean)

    return avg_medal_count

print avg_medal_count()

gold      5.111111
silver    5.000000
bronze    4.833333
dtype: float64

In [32]:
print  123.0 /(123+3+1)

0.968503937008

In [33]:
print 123.0 / (1+8+8+123+7+2+7)

0.788461538462